@import 'modules/all';
@import 'modules/colors';
@import 'modules/reset';
@import 'modules/fonts';
@import 'modules/mixins';

.enemy {
	width: 330px;
	height: 330px;
	background: $color_board;
	border: 1px solid $color_board;
	cursor:crosshair;
}

.player {
	width: 330px;
	height: 330px;
	background: $color_board;
	border: 1px solid $color_board;
	cursor:crosshair;
}

.grid {
	position: absolute;
	width: 320px;
	height: 320px;
	background: $color_board;
	margin-left: 28px;
	font-size: 0;
}

.game-board {
  background-color: $color_dark;
  color: $color_hud;
  font-family: 'courier_prime_coderegular', $stock;
  padding-bottom: 1vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
    h2 {
      font-weight: bolder;
    }
}

.show-grid {
	margin-top: 40px;
	width: 1136px;
}

.radar-circle {
  background-color: $color_board;
  border: 1px solid $color_hud;
  border-radius: 100%;
  height: 500px;
  margin: auto;
  width: 500px;
  position: relative;
}

.battlefield {
  margin: auto;
  width: 350px;
  height: 350px;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.aTops {
	width: 32px;
	height: 32px;
	border: 1px dashed $color_hud;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	color: $color_hud;
	text-align: center;
  @include Radar-boarder;
}

.aLeft {
	position: relative;
	width: 29px;
	height: 32px;
	display: block;
	line-height: 32px;
	font-weight: bold;
	color: $color_hud;
	text-align: center;
  @include Radar-boarder;
}


.points {
	position: relative;
	width: 32px;
	height: 32px;
	display: inline-block;
  @include Radar-boarder;
}

.hidezero {
	color: $color_hud;
  width: 29px;
	height: 32px;
}

.hit {
  background: $color_hit;
	border: 1px solid  $color_hit;
	@include Dot;
	@include Anime;
	@include AnimeWebkit;
  @include AnimeMozilla;
}

.miss {
  background: $color_hud;
	border: 1px solid $color_hud;
  @include Dot;
  @include Anime;
	@include AnimeWebkit;
  @include AnimeMozilla;
}

.target {
	background: $color_hud_hover;
}

.battleship, .cruiser, .frigate, .patrol-boat {
	background: $color_hud_ship;
}

@include AnimeKeyframes;
@include AnimeWebKitKeyframes;
@include AnimeMozillaKeyframes;
