@import 'modules/fonts';
@import 'modules/mixins';

#welcome-screen {
  margin-bottom: 80px;
}

.start-photo {
  background-image: url("https://78.media.tumblr.com/c0f7ad6f5915154be41d8550e0d52a44/tumblr_mrsi0hJNnh1sfie3io1_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 80vh;
}

.start-info {
text-align: center;
padding: 2rem;
}

.welcome-headers {
  @include WelcomeFonts;
  font-size: 3rem;
}

.welcome-text{
  @include WelcomeFonts;
  font-size: 1.5rem;
}

.start-label {
  @extend .welcome-text;
}

.start-input {
  border: 4px double $color_dark;
  border-radius: 5px;
  color: $color_font;
  text-align: center;
  width: 60%;
  margin: 0 auto 2rem auto;
  @include WelcomeFonts;
}

Button {
  @include WelcomeFonts;
}
