@import 'modules/colors';
@import 'modules/mixins';


.col-md-7 {
  height: 80vh;
  background-image: url("https://78.media.tumblr.com/c0f7ad6f5915154be41d8550e0d52a44/tumblr_mrsi0hJNnh1sfie3io1_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.col-md-12 {
text-align: center;
margin-bottom: 2rem;
}

.show-grid {
margin: 3vh auto 3vh auto;
}

h2 {
  @include WelcomeFonts;
  font-size: 4rem;
}

p {
  @include WelcomeFonts;
  font-size: 2rem;
}

.start-label {
  @extend p;
}

.start-input {
  border: 4px double $color_dark;
  border-radius: 5px;
  margin-bottom: 2rem;
  text-align: center;
  width: 60%;
  margin: 2rem auto;
  @include WelcomeFonts;
}

Button {
  @include WelcomeFonts;
}
