@import 'modules/fonts';

@mixin WelcomeFonts {
  color: $color_font;
  font-family: 'armalite_rifleregular', $stock;
  letter-spacing: 0.4rem;
}

@mixin Radar-boarder {
  border: 1px dashed $color_hud;
}

@mixin Dot {
  border-radius: 100%;
  display: table;
	margin: 1.5px;
	height: 15px;
	left: 5px;
  top: 5px;
	overflow: hidden;
	position: relative;
  width: 15px;
}

@mixin Square-hit {
  display: table;
	height: 28px;
	left: 1px;
  top: 1px;
	overflow: hidden;
	position: relative;
  width: 28px;
}

@mixin Anime {
  animation-name: expand;
	animation-duration: 1s;
	animation-iteration-count: 1;
 	animation-timing-function: linear;
 	animation-fill-mode: none;
}

@mixin AnimeWebkit {
  -webkit-animation-name: expand;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
 	-webkit-animation-timing-function: linear;
 	-webkit-animation-fill-mode: none;
}

@mixin AnimeMozilla {
  -moz-animation-name: expand;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: none;
}

@mixin AnimeKeyframes {
  @keyframes expand {
    0% {
      width: 0px;
      height: 0px;
      top: 12.5px;
      left: 12.5px;
    }
    25% {
      width: 25px;
      height: 25px;
      top: 12.5px;
      left: 12.5px;
    }
    50% {
      width: 5px;
      height: 5px;
      top: 12.5px;
      left: 12.5px;
    }
    75% {
      width: 25px;
      height: 25px;
      top: 12.5px;
      left: 12.5px;
    }
    100% {
      width: 15px;
      height: 15px;
      top: 5px;
      left: 5px;
    }
  }
}

@mixin AnimeWebKitKeyframes {
  @-webkit-keyframes expand {
    0% {
      width: 0px;
      height: 0px;
      top: 12.5px;
      left: 12.5px;
    }
    25% {
      width: 25px;
      height: 25px;
      top: 12.5px;
      left: 12.5px;
    }
    50% {
      width: 5px;
      height: 5px;
      top: 12.5px;
      left: 12.5px;
    }
    75% {
      width: 25px;
      height: 25px;
      top: 12.5px;
      left: 12.5px;
    }
    100% {
      width: 15px;
      height: 15px;
      top: 5px;
      left: 5px;
    }
  }
}

@mixin AnimeMozillaKeyframes {
  @-moz-keyframes expand {
    0% {
  		width: 0px;
  		height: 0px;
  		top: 12.5px;
  		left: 12.5px;
  	}
    25% {
      width: 25px;
  		height: 25px;
  		top: 12.5px;
  		left: 12.5px;
  	}
  	50% {
  		width: 5px;
  		height: 5px;
      top: 12.5px;
  		left: 12.5px;
  	}
    75% {
      width: 25px;
  		height: 25px;
  		top: 12.5px;
  		left: 12.5px;
  	}
  	100% {
  		width: 15px;
  		height: 15px;
  		top: 5px;
  		left: 5px;
  	}
  }
}

@mixin Header-under-thousand {
   @media screen and (max-width: 1000px){
    font-size: 24px;
  }
}

@mixin Paragraph-under-thousand {
   @media screen and (max-width: 1000px){
    font-size: 16px;
  }
}

@mixin Start-photo-under-shoundred {
   @media screen and (max-width: 767px){
    height: 40vh;
  }
}

@mixin Console-txt-under-thousand {
  @media screen and (max-width: 1000px){
   font-size: 20px;
 }
}

@mixin Console-header-under-thousand {
  @media screen and (max-width: 1000px){
   font-size: 30px;
 }
}

@mixin Button-under-shoundred {
  @media screen and (max-width: 768px){
    font-size: 40px;
    height: 60px;
    width: 250px;

 }
}
